.tableBlock {

}

h2 {
  font-size: 120px;
  color: #FFFFFF;
  text-align: center;
}

p {
  font-size: 32px;
  color: #95A1AE;
  text-align: center;
}

.table {
    background-color: #FFFFFF;
}